extends base.pug
block body_block 
    .container
    .jumbotron(style='background-color:white;height:500px;text-align:center;margin-top:130px;width:600px;margin-left:280px;')
        img(src="/images/Rogers-logo.png" width='220')
        #content-container.container.p-none
        .lgn-container.col-lg-8(style='margin-left:70px;')
            form#login-form(method='post' action="/loggedin")
                table.table
                    tbody
                    tr
                        td
                            label(for='id_username') Username
                        td
                            input#id_username.form-control(name='username' type='text')
                    tr
                        td
                            label(for='id_password') Password
                        td
                            input#id_password.form-control(name='password' type='password')
                input.btn.btn-danger.pull-center(type='submit' value='Login' style='background-color:#D53428;\
                width:180px;')
                input(type='hidden' name='next' value='{{ next }}')
                


